<%= render "devise/shared/error_messages", resource: resource %>

<div class="h-[80svh] flex flex-col justify-center items-center">
  <h2 class="text-xl pb-2">本人確認メールの再送</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="field pt-2">
      <%= f.label :email, class: "block" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "block rounded-md w-[40svh]" %>
    </div>

    <div class="actions pt-4">
      <%= f.submit "再送する", class: "py-2 bg-neutral-100 w-[40svh] rounded-md shadow-md cursor-pointer hover:bg-opacity-50" %>
    </div>
  <% end %>

  <div class="field flex-col flex justify-center items-center pt-8">
    <%= render "devise/shared/links" %>
  </div>
</div>

