<div class="h-[80vh] flex flex-col justify-center items-center w-screen">
  <h2 class="text-xl">登録情報変更</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block rounded-md w-[40vh]" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, autocomplete: "name", class: "block rounded-md w-[40vh]" %>
    </div>

    <div class="field pt-4">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>※<%= @minimum_password_length %>文字以上</em>
      <% end %><br/>
      <i class="text-sm">パスワードを変更しない場合は、空白のままにしてください</i><br/>
      <%= f.password_field :password, autocomplete: "new-password", class: "block rounded-md w-[40vh]" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block rounded-md w-[40vh]" %>
    </div>

    <div class="field">
      <%= f.label :current_password %><br/> <i class="text-sm">パスワード変更には、現在のパスワードも必要です</i><br/>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "block rounded-md w-[40vh]" %>
    </div>

    <div class="actions py-4">
      <%= f.submit "更新する", class: "btn btn-block w-[40vh] shadow-md" %>
    </div>
  <% end %>

  <div class="py-8">
    <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当にアカウントを削除してよろしいでしょうか?", turbo_confirm: "本当にアカウントを削除してよろしいでしょうか?" }, method: :delete, class: "underline" %>
  </div>

</div>