<div class="pt-[4vh]"></div>
<div class="flex flex-col justify-center items-center">
  <div class="w-[40vh]">
    <h2 class="text-xl pb-2 text-center">登録情報変更</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block rounded-md w-full" %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>

      <div class="field pt-4">
        <%= f.label :name %><br/>
        <%= f.text_field :name, autocomplete: "name", class: "block rounded-md w-full" %>
      </div>

      <div class="field pt-4">
        <%= f.label :password, "新しいパスワード" + (@minimum_password_length ? " ※#{@minimum_password_length}文字以上" : ""), class: "block" %>
        <span class="text-sm">変更しない場合は空欄のままにしてください</span>
        <%= f.password_field :password, autocomplete: "new-password", class: "block rounded-md w-full" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "新しいパスワード（確認用）", class: "block" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block rounded-md w-full" %>
      </div>

      <div class="field pt-4">
        <%= f.label :current_password, "現在のパスワード ※必須", class: "block" %>
        <span class="text-sm">変更には現在のパスワードが必要です</span>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "block rounded-md w-full" %>
      </div>

      <div class="actions pt-4">
        <%= f.submit "更新する", class: "btn btn-block w-full shadow-md" %>
      </div>
    <% end %>

    <div class="pt-8 text-center">
      <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当にアカウントを削除してよろしいでしょうか?", turbo_confirm: "本当にアカウントを削除してよろしいでしょうか?" }, method: :delete, class: "underline" %>
    </div>
  </div>
</div>