<div class="h-[80vh] flex flex-col justify-center items-center space-y-4">
  <h2 class="text-xl">新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block rounded-md w-[40vh]" %>
    </div>

    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, autocomplete: "name", class: "block rounded-md w-[40vh]" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "new-password", class: "block rounded-md w-[40vh]" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block rounded-md w-[40vh]" %>
    </div>

    <div class="actions pt-4">
      <%= f.submit "登録する", class: "btn btn-block w-[40vh] shadow-md" %>
    </div>
  <% end %>

  <div class="field flex-col flex justify-center items-center py-4">
    <%= render "devise/shared/links" %>
  </div>
</div>