<%= render "devise/shared/error_messages", resource: resource %>

<div class="h-[80vh] flex flex-col justify-center items-center space-y-4">
  <h2 class="text-xl">パスワード再設定</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field">
      <%= f.label :email, class: "block" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block rounded-md w-[40vh]" %>
    </div>

    <div class="actions py-4">
      <%= f.submit "パスワード再設定用のメールを送る", class: "btn btn-block w-[40vh] shadow-md" %>
    </div>
  <% end %>

  <div class="field flex-col flex justify-center items-center">
    <%= render "devise/shared/links" %>
  </div>
</div>