<div class="flex justify-center space-x-5">
  <%= link_to "https://twitter.com/intent/tweet?text=#{@post.content}%20#{post_url(@post)}%20%23えらすぎ", target: "_blank", class: "bg-black rounded-md flex items-center justify-center", id: "x-share", style: "width: 30px; height: 30px;" do %>
    <%= image_tag("/x.png", alt: "Logo", style: "width: 20px; height: 20px;") %>
  <% end %>
  <%= link_to "https://social-plugins.line.me/lineit/share?url=#{post_url(@post)}", target: "_blank", class: "flex items-center justify-center", id: "line-share", style: "width: 30px; height: 30px;" do %>
    <%= image_tag("/line.png", alt: "Logo") %>
  <% end %>
  <div data-controller="clipboard">
    <%= link_to "", target: "_blank", class: "bg-stone-400 rounded-md flex items-center justify-center", id: "url-copy", style: "width: 30px; height: 30px;", data: { action: "clipboard#copy", "clipboard-target": "url" }, value: post_url(@post) do %>
      <%= image_tag("/link.png", alt: "Logo", style: "width: 22px; height: 22px;") %>
    <% end %>
  </div>
</div>