<%= turbo_frame_tag "post_#{@post.public_uid}" , class: "flex justify-center space-x-1" do %>
  <div><%= form_with(model: @post) do |form| %>
      <% if @post.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
              <% @post.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%= form.text_field :content %>
      <%= form.submit class:"btn" %>
      <%= link_to "キャンセル", user_posts_path(@post.user.public_uid), class: "btn" %>
    <% end %></div>
<% end %>
