<%= turbo_frame_tag "post_#{@post.public_uid}" , class: "flex justify-center" do %>
  <div data-controller="form-character-count">
    <%= form_with(model: @post) do |form| %>
      <% if form.object.errors.any? %>
        <div class="text-red-600">
          <ul>
            <% form.object.errors.full_messages.each do |message| %>
              <li class="text-center"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="flex flex-col space-x-1 justify-center items-center pb-4">
        <%= form.text_area :content, class: "block rounded-md h-[10vh] w-[36vh]" %>
        <p class="text-sm" id="text-length"><%= form_character_count(@post) %></p>
      </div>
      <div class="flex justify-center space-x-4">
        <%= form.submit "更新する", class: "py-2 bg-gray-100 w-[16vh] shadow-md cursor-pointer hover:bg-opacity-50" %>
        <%= link_to 'キャンセル','', class: "text-center py-2 bg-gray-100 w-[16vh] shadow-md cursor-pointer hover:bg-opacity-50" %>
      </div>
    <% end %>
  </div>
<% end %>
