<%= turbo_frame_tag "post_#{@post.public_uid}" , class: "flex justify-center space-x-1" do %>
<div data-controller="form-character-count">
  <%= form_with(model: @post) do |form| %>
    <% if form.object.errors.any? %>
      <div class="text-red-600">
        <ul>
          <% form.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="flex space-x-1">
      <%= form.text_field :content %>
      <%= form.submit "更新する", class: "btn" %>
    </div>
    <p id="text-length"><%= form_character_count(@post) %></p>
  <% end %>
</div>
<% end %>
