<% content_for(:title, '新規投稿') %>
<% content_for :extra_head do %>
  <meta name="description" content="新規投稿画面です。">
<% end %>
<%= render "layouts/unlogin" %>
<div data-controller="count" class="h-[80svh] flex flex-col justify-center items-center">
  <%= form_with(model: @post) do |form| %>
    <div class="flex flex-col justify-center items-center space-y-4 w-screen h-[80svh]">
      <div>
        <% if form.object.errors.any? %>
          <ul class="error">
            <% form.object.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div>
        <%= form.label :content, 'あたらしいえらすぎ', class: "text-xl" %>
      </div>
      <div class="flex flex-col justify-center items-center ">
        <%= form.text_area :content, placeholder: '午前中に起きた！', class: "block rounded-md h-[25svh] w-[40svh] placeholder-stone-400" %>
        <p class="text-sm mt-2" id="text-length"><%= count_characters(@post) %></p>
      </div>
      <div>
        <%= form.submit "投稿する", class: "py-2 bg-gray-100 w-[40svh] rounded-md shadow-md cursor-pointer hover:bg-opacity-50" %>
      </div>
    </div>
  <% end %>
</div>
