<%= render "layouts/unlogin" %>
<div data-controller="form-character-count" class="h-[80vh] flex flex-col justify-center items-center">
  <%= form_with(model: @post) do |form| %>
    <div class="flex flex-col justify-center items-center space-y-4 w-screen h-[80vh]">
      <div>
        <% if form.object.errors.any? %>
          <ul class="text-red-600">
            <% form.object.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div>
        <%= form.label :あたらしいえらすぎ, class: "text-xl" %>
      </div>
      <div class="flex flex-col justify-center items-center ">
        <%= form.text_area :content, placeholder: '午前中に起きた！', class: "block rounded-md h-[25vh] w-[40vh] placeholder-stone-400" %>
        <p class="text-sm" id="text-length"><%= form_character_count(@post) %></p>
      </div>
      <div>
        <%= form.submit "投稿する", class: "btn btn-block w-[40vh] shadow-md" %>
      </div>
    </div>
  <% end %>
</div>
