<div data-controller="form-character-count">
  <%= form_with(model: @post) do |form| %>
    <% if form.object.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% form.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :content, style: "display: block" %>
      <%= form.text_area :content %>
      <p id="text-length"><%="残り#{140 - (@post.content&.length || 0)}文字入力できます" %></p>
    </div>
    <div>
      <%= form.submit "Submit", class: "btn" %>
    </div>
  <% end %>
</div>
