<div data-controller="form-character-count">
  <%= form_with(model: @post) do |form| %>
    <% if form.object.errors.any? %>
      <div class="text-red-600">
        <ul>
          <% form.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :あたらしいえらすぎ, style: "display: block" %>
      <%= form.text_area :content %>
      <p id="text-length"><%= form_character_count(@post) %></p>
    </div>
    <div>
      <%= form.submit "投稿する", class: "btn" %>
    </div>
  <% end %>
</div>
