<% content_for :extra_head do %>
  <meta property="og:title" content="えらすぎ"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="#{post_url(@post)"/>
  <meta property="og:image" content="<%= @post.image.path %>"/>
  <meta property="og:site_name" content="えらすぎ"/>
  <meta property="og:description" content="<%= @post.content %>"/>
  <meta name="twitter:card" content="summary_large_image"/>
<% end %>
<div class="h-[100vh]" data-action="scroll->scroll#scrollEvent">
  <div id="container" style="position: absolute;"></div>
  <div class="font-sans text-center p-20" style="position: relative;">
    <div data-controller="reaction" data-reaction-post-id-value=<%= @post.id %> data-reaction-first-post-id-value=<%= @post.id %> data-reaction-reactions-type-ids-value="<%= @post.associated_reaction_type_ids %>">
      <%= @post.id %>
      <div class="text-[60px] font-sans p-4 pb-10" style="position: relative;"><%= @post.content %></div>
      <div class="flex justify-center" style="position: relative">
        <% @reactions_types.each do |reactions_type| %>
          <button data-action="reaction#onButtonClick" data-reaction-reaction-type-id-param="<%= reactions_type.id %>" class="btn text-lg m-10 w-24 h-24 rounded-full drop-shadow-md bg-white"><%= reactions_type.name %></button>
        <% end %>
      </div>
    </div>
    <button data-controller="screenshot">スクリーンショットを取る</button>
    <div class="flex justify-center space-x-5">
      <%= link_to "https://twitter.com/intent/tweet?text=#{@post.content}&url=#{post_url(@post)}", target: "_blank", class: "bg-black rounded flex items-center justify-center", style: "width: 30px; height: 30px;" do %>
        <%= image_tag("/logo-white.png", alt: "Logo", style: "width: 20px; height: 20px;") %>
      <% end %>
      <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL" data-url="<%= post_url(@post) %>" data-color="default" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
      <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      <div data-controller="clipboard">
        <%= button_to "#", target: "_blank", class: "bg-stone-400 rounded flex items-center justify-center", style: "width: 30px; height: 30px;", data: { action: "clipboard#copy", "clipboard-target": "url" }, value: post_url(@post) do %>
          <%= image_tag("/link.png", alt: "Logo", style: "width: 22px; height: 22px;") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
