<% content_for :extra_head do %>
  <meta property="og:title" content="えらすぎ"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="#{post_url(@post)"/>
  <meta property="og:image" content="<%= @post.image.path %>"/>
  <meta property="og:site_name" content="えらすぎ"/>
  <meta property="og:description" content="<%= @post.content %>"/>
  <meta name="twitter:card" content="summary_large_image"/>
<% end %>
<div id="container" style="position: absolute;"></div>
<div class="flex flex-col justify-center">
  <div data-controller="reaction" data-reaction-post-id-value="<%= @post.id %>" data-reaction-first-post-id-value="<%= @post.id %>" data-reaction-reactions-type-ids-value="<%= @post.associated_reaction_type_ids %>">
    <div class="flex justify-center m-4 mb-4">
      <p class="text-5xl break-words text-center leading-relaxed"><%= @post.content %></p>
    </div>
    <div class="flex justify-evenly">
      <% @reactions_types.each do |reactions_type| %>
        <button data-action="reaction#onButtonClick" data-reaction-reaction-type-id-param="<%= reactions_type.id %>" class="btn text-lg w-24 h-24 rounded-full drop-shadow-md bg-white"><%= reactions_type.name %></button>
      <% end %>
    </div>
  </div>
  <div class="py-4">
    <%= render "share" %>
  </div>
</div>
