<% content_for :extra_head do %>
  <meta property="og:title" content="えらすぎ"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="#{post_url(@post)"/>
  <meta property="og:image" content="<%= @post.image.path %>"/>
  <meta property="og:site_name" content="えらすぎ"/>
  <meta property="og:description" content="<%= @post.content %>"/>
  <meta name="twitter:card" content="summary_large_image"/>
<% end %>
<div class="h-[100vh]" data-action="scroll->scroll#scrollEvent">
  <div id="container" style="position: absolute;"></div>
  <div class="font-sans text-center p-20" style="position: relative;">
    <div data-controller="reaction" data-reaction-post-id-value=<%= @post.id %> data-reaction-first-post-id-value=<%= @post.id %> data-reaction-reactions-type-ids-value="<%= @post.associated_reaction_type_ids %>">
      <%= @post.id %>
      <div class="text-[60px] font-sans p-4 pb-10" style="position: relative;"><%= @post.content %></div>
      <div class="flex justify-center" style="position: relative">
        <% @reactions_types.each do |reactions_type| %>
          <button data-action="reaction#onButtonClick" data-reaction-reaction-type-id-param="<%= reactions_type.id %>" class="btn text-lg m-10 w-24 h-24 rounded-full drop-shadow-md bg-white"><%= reactions_type.name %></button>
        <% end %>
      </div>
    </div>
    <button data-controller="screenshot">スクリーンショットを取る</button>
    <div class="flex justify-center">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="<%= @post.content %>" data-url="<%= post_url(@post) %>" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
