<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Konva Sprite Demo</title>
</head>
<body class="h-[100vh]" data-action="scroll->scroll#scrollEvent">
  <div id="container" style="position: absolute;"></div>
  <div class="font-sans text-center p-20" style="position: relative;" data-controller="reaction">
    <div class="text-[60px] font-sans p-4 pb-10" style="position: relative;"><%= @post.content %></div>
    <div class="flex justify-center" style="position: relative" data-post-id="<%= @post.id %>">
      <% @reactions_types.each do |reactions_type| %>
        <%= button_to "#{reactions_type.name}", reactions_path(post_id: @post.id, reactions_type_id: reactions_type.id), {method: :post, class: "btn text-lg m-10 w-24 h-24 rounded-full drop-shadow-md bg-white", id: "test", data: { action: "click->reaction#onButtonClick", reaction_type_id: reactions_type.id}} %>
      <% end %>
    </div>
    <button data-controller="screenshot">スクリーンショットを取る</button>
    <%= link_to "編集", edit_post_path(@post), class:"btn" %>
    <%= link_to "戻る", posts_path, class:"btn" %>
    <%= button_to "削除", @post, method: :delete, class: "btn-danger" %>
  </div>
</body>
</html>
