<div class="ms-10">
  <%= link_to 'えらすぎ', posts_path, class: "text-xl font-bold" %>
</div>
<div class="me-10 flex justify-center items-center space-x-4">
  <div>
    <%= link_to new_post_path do %>
      <svg class="w-7 h-7" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m10.8 17.8-6.4 2.1 2.1-6.4m4.3 4.3L19 9a3 3 0 0 0-4-4l-8.4 8.6m4.3 4.3-4.3-4.3m2.1 2.1L15 9.1m-2.1-2 4.2 4.2" />
      </svg>
    <% end %>
  </div>
  <svg tabindex="0" xmlns="http://www.w3.org/2000/svg" fill="#303030" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hamburger w-7 h-7 outline-none cursor-pointer" data-controller="hamburger" data-action="click->hamburger#openAndClose">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />

<!--    マウス乗せたら色が変わるようにする-->
  </svg>
  <div class="invisible absolute top-16 right-10" id="menu-items">
    <ul tabindex="0" class="shadow bg-white rounded-lg p-4 ">
      <% if user_signed_in? %>
        <li class="hover:bg-gray-100 bg-opacity-80"><%= link_to 'みんなの投稿一覧', posts_path, class: "px-4 py-2 block" %></li>
        <li class="hover:bg-gray-100 bg-opacity-80"><%= link_to "#{current_user.name}の投稿一覧", user_posts_path(current_user), class: "px-4 py-2 block"  %></li>
        <li class="hover:bg-gray-100 bg-opacity-80"><%= link_to '登録情報', user_path(current_user), class: "px-4 py-2 block"  %></li>
        <li class="hover:bg-gray-100 bg-opacity-80"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "px-4 py-2 block"  %></li>
      <% else %>
        <li class="hover:bg-gray-100 bg-opacity-80"><%= link_to "新規登録", new_user_registration_path, class: "px-4 block"  %></li>
        <li class="hover:bg-gray-100 bg-opacity-80"><%= link_to "ログイン", new_user_session_path, class: "px-4 block"  %></li>
      <% end %>
    </ul>
  </div>
</div>