<!DOCTYPE html>
<html>
<head>
  <title>Erasugi</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "swiper"%>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
  <%= javascript_importmap_tags %>
</head>
<body>
<div class="navbar bg-base-100" style="display: flex; justify-content: center;" >
  <div class="navbar-start">
    <%= link_to 'えらすぎ', posts_path, class: "font-sans btn btn-ghost normal-case text-xl" %>
  </div>
  <div class="navbar-center z-10">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 ">
        <% if user_signed_in? %>
          <li><%= link_to 'みんなの投稿一覧', posts_path, class: 'navbar-link' %></li>
          <li><%= link_to "#{current_user.name}の投稿一覧", user_posts_path(current_user), class: 'navbar-link' %></li>
          <li><%= link_to '登録情報', user_path(current_user), class: 'navbar-link' %></li>
          <li><%= link_to 'ユーザー一覧', users_path, class: 'navbar-link' %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'navbar-link'  %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path, class: 'navbar-link'  %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: 'navbar-link'  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="text-center">
  <%= render "layouts/flash" %>
  <%= yield %>
</div>
</body>
</html>
