<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <title>えらすぎ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "swiper" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
  <%= javascript_importmap_tags %>
  <%= yield :extra_head %>
</head>
<body>
<div class="h-screen flex flex-col">
  <header class="h-[10vh] flex items-center justify-between fixed top-0 w-full z-50 bg-white bg-opacity-80">
    <%= render "layouts/header" %>
  </header>
  <main class="flex-auto pt-[10vh] pb-[10vh]">
    <div id="flash">
      <%= render "layouts/flash" %>
    </div>
    <%= yield %>
  </main>
  <footer class="h-[10vh] flex justify-center items-center fixed bottom-0 w-full z-50 bg-white bg-opacity-80">
    <%= render "layouts/footer" %>
  </footer>
</div>
</body>
</html>
