<!DOCTYPE html>
<html>
  <head>
    <title>Erasugi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      <strong><%= current_user.name %></strong>
      <%= link_to 'ユーザー一覧', users_path, class: 'navbar-link' %> |
      <%= link_to '登録情報', user_path(current_user), class: 'navbar-link' %> |
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class: 'navbar-link'  %> |
      <%= link_to "ログイン", new_user_session_path, class: 'navbar-link'  %>
    <% end %>
  </p>
    <%= yield %>
  </body>
</html>
