<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <title>えらすぎ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "swiper" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
  <%= javascript_importmap_tags %>
  <%= yield :extra_head %>
</head>
<body>
<div class="h-screen flex flex-col">
  <header class="h-[10vh] flex items-center justify-between fixed top-0 w-full z-10 bg-white bg-opacity-80">
    <%= render "layouts/header" %>
  </header>
  <main class="flex-auto pt-[10vh] pb-[10vh]">
    <div id="flash">
      <%= render "layouts/flash" %>
    </div>
    <%= yield %>
    <%= link_to new_post_path, class: "fixed bottom-20 right-10 z-10" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#303030" class="w-20 h-20">
        <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm.75-11.25a.75.75 0 0 0-1.5 0v2.5h-2.5a.75.75 0 0 0 0 1.5h2.5v2.5a.75.75 0 0 0 1.5 0v-2.5h2.5a.75.75 0 0 0 0-1.5h-2.5v-2.5Z" clip-rule="evenodd"/>
      </svg>
    <% end %>
  </main>
  <footer class="h-[10vh] flex justify-center items-center fixed bottom-0 w-full z-10 bg-white bg-opacity-80">
    <%= render "layouts/footer" %>
  </footer>
</div>
</body>
</html>
