<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag "tailwind", "inter-font" %>
  <%= stylesheet_link_tag "application" %>
  <%= yield :extra_head %>
</head>
<body>
<main class="h-svh flex flex-col items-center justify-center mx-10 gap-8">
  <%= yield %>
</main>
</body>
</html>
